body {
  background: url('https://wallpapercave.com/wp/wp9734501.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.top {
  padding-bottom: 10%;
}

.inputBox {
  padding-bottom: 5%;
}

.container {
  min-height: 100%;
  height: 100%;
}

.hiddenDiv {
  padding-bottom: 100%;
  ;
}

.hidden {
  display: none;
}

.hidden .top {
  padding-bottom: 10%;
}

.jumbotron {
  margin-top: 2%;
  background: rgba(204, 204, 204, 0.51);
}